.box{
    background-color: steelblue;
    color: white;
    width: 300px;
    height: 100px;
    padding: 50px 20px 20px 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin: 50px;
}
.box2{
    background-color: steelblue;
    color: white;
    width: 300px;
    height: 100px;
    padding: 50px 20px 20px 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin: 50px;
}