.flex-container {
    background-color: lightblue;
    width:500px;
    height:700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex-container div {
    background-color: blue;
    width: 100px;
    height: 100px;
    color: white;
    margin: 10px;
    text-align: center;
}