body {
    background-image: url("https://cdn.pixabay.com/photo/2016/02/10/16/37/cat-1192026_640.jpg");
    background-repeat: no-repeat;
    background-size: 666px 300px;
    background-position: 30% 10%;
}

p {
    color: rgb(188, 27, 27);
}
