.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  gap: 10px;
  border: 2px solid black;
  padding: 10px;
}

.item {
  height: 40px;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big {
    height: 80px;
    flex-grow: 2;
  background: orange;
}
