.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    width: 600px;
    margin: 30px auto;
}

.gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border: 2px solid black;
}
