.pad1{
 /*   border-style: solid;
    border-color :tomato;
    border-width: 5px;*/
    border: 5px solid tomato;
    padding: 40px;
    background-color: aqua;
    color: white;
}
.pad2{
  /*  border-style : solid;
    border-color : green;
    border-width : 10px;*/
    border: 10px solid green;
    padding: 20px;
    background-color: aqua;
    color: white;
}
.pad3{
  /*  border-style : solid;
    border-color : blue;
    border-width : 20px;*/
    border: 20px solid blue;
    padding: 10px;
    background-color: aqua;
    color: white;
}