.parent {
    width: 500px;
    height: 300px;
    border: 3px solid black;
    margin: 40px;
    position: relative; 
    font-family: Arial, sans-serif;
}

.absolute {
    border: 2px solid red;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    left: 150px;
}
