body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    position: fixed;
    top: 10px;
    right: 20px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: red;
    border: 2px solid black;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
}

.menu a:hover {
    background-color: black;
    color: white;
}


