.block-b {
    border: 2px solid blue;
    height: 80px;
    margin: 40px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.block-a {
    border: 2px solid red;
    height: 25px;
    width: 95%;
    margin-top: 25px;
    margin-left: 20px;
}
