.parent {
    width: 200px;
    height: 300px;
    background-color: turquoise;
    position: relative; 
}
.child {
    width: 40px;
    height: 60px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 20px;
}
